@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-color: darkred;
}

/* Modal Styles */

.pokemon-name,
.modal-title,
.pokemon-type {
  text-transform: capitalize;
}

/* NavBar Styles */

.navbar-collapse {
  justify-content: flex-end;
}

/* List Styles */

.unstyled-list {
  padding: 0;
}

.list-group-item {
  border: none;
  background-color: transparent;
}

/* Button Styles */
.button-styles {
  background-color: whitesmoke;
  color: black;
  text-transform: capitalize;
  width: 100%;
}
